$orange-shade100: #c28143;
$orange-shade200: #f2a154;
$orange-shade300: #fad8b8;
$orange-shade400: #fcecdd;

$grey: #464646;
$grey-shade100: #6a635d;
$grey-shade200: #7e7d7d;
$grey-shade400: #e6e6e6;
$grey-shade500: #f9f9f9;

$primary: $orange-shade200;
$secondary: #242424;
$danger: #cc4534;
$valid: #1aa260;
