$orange-shade100 : #c28143;
$orange-shade200 : #f2a154;
$orange-shade300 : #faae66;
$orange-shade400 : #fcecdd;

$grey: #464646;
$grey-shade100: #6a635d;
$grey-shade200: #7E7D7D;

$primary: $orange-shade200;
$secondary: #000000;