@font-face {
  font-family: 'icons';
  src: local('icons'), url('../../assets/fonts/icons.woff') format('woff');
}

.icon-custom {
  display:block;
  font-size:2em;
  padding:3px;

  span {
    position: absolute;
    text-indent: 999px;
    visibility: hidden;
  }

  &__list {
    text-align: center;
  }

  &__container {    
    font-family: 'icons'!important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align:middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &--cv::before {    
    content: "\e912";
  }
  &--portfolio::before {
    content: "\e910";
  }
  &--about::before {
    content: "\e911";
  }
  &--moveDown::before {
    content: "\e90e";
  }
  &--mail::before {
    content: "\e90f";
  }
  &--photoshop::before {
    content: "\e902";
  }
  &--premiere::before {
    content: "\e905";
  }
  &--aftereffect::before {
    content: "\e906";
  }
  &--illustrator::before {
    content: "\e901";
  }
  &--substance-designer::before {
    content: "\e907";
  }
  &--substance-painter::before {
    content: "\e908";
  }
  &--zbrush::before {
    content: "\e904";
  }
  &--3dsmax::before {
    content: "\e900";
  }
  &--vray::before {
    content: "\e903";
  }
  &--corona::before {
    content: "\e909";
  }
  &--artStation::before {
    content: "\e90a";
  }
  &--linkedin::before {
    content: "\e90b";
  }
  &--twitter::before {
    content: "\e90c";
  }
  &--facebook::before {
    content: "\e90d";
  }
  &--flutter::before {
    content: "\e917";
  }
  &--react::before {
    content: "\919";
  }
  &--vue::before {
    content: "\918";
  }
  &--webpack::before {
    content: "\e91a";
  }
  &--symfony::before {
    content: "\e914";
  }
  &--html::before {
    content: "\eae4";
  }
  &--sass::before {
    content: "";
  }
  &--jquery::before {
    content: "\e91b";
  }
  &--javascript::before {
    content: "\e91c";
  }
  &--php::before {
    content: "\e91f";
  }
  &--dart::before {
    content: "\e915";
  }
  &--sass::before {
    content: "\e924";
  }
  &--mongo::before {
    content: "\e91c";
  }
  &--mysql::before {
    content: "\e91e";
  }
  &--xd::before {
    content: "\e923";
  }
  &--figma::before {
    content: "\e922";
  }
  &--postman::before {
    content: "\e916";
  }
  &--git::before {
    content: "\eae7";
  }
  &--github::before {
    content: "\eab0";
  }
  &--gitlab::before {
    content: "\e913";
  }
  &--confluence::before {
    content: "\e920";
  }
  &--jira::before {
    content: "\e921";
  }
}