@import '../../sass/themes/colors';

$s: 15px; //size
$m: 3px; //margin
$d: 1s; //speed
$color: $primary;

.loader.positioning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  z-index: 1;
  
  .lightgreen,
  .darkgreen {
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .lightgreen {
    z-index: 999;
    background-color: rgba($color: $orange-shade200, $alpha: 0.8);
    animation: hide1 2s ease infinite;
  }
  
  .darkgreen {
    background-color: rgba($color: $orange-shade300, $alpha: 0.4);
    animation: hide2 2s ease infinite;
  }
  
  @keyframes hide1 {
    0% {transform: scale(1)}
    50% {transform: scale(0)}
    100% {transform: scale(1)}
  }
  
  @keyframes hide2 {
    0% {transform: scale(0)}
    50% {transform: scale(1)}
    100% {transform: scale(0)}
  }
}
