@import '../../sass/themes/colors';

.input {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.4rem;

  &--textarea {
    height: 100%;

    .input__content {
      height: 100%;
    }
  }
  
  &::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: white, $alpha: 0.8);
    border-radius: 5px;
    pointer-events: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    background-clip: text !important;
    -webkit-text-fill-color: $secondary !important;
  }

  label, input, textarea {
    padding: 5px 10px;
    line-height: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif!important;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: center;   
    border: none;    
    border: 2px  solid $grey-shade400;
    border-radius: 5px;
    width: 100%;

    i {
      width: 30px;
      display: block;
      padding: 5px 10px;
      line-height: 18px;
    }

    input, textarea {
      flex: 1 1 auto;
      width: 100%;
      outline: none;
      border: none;
      caret-color: $secondary;
      transition: border .3s ease-in-out;
      z-index: 2;    
      border-radius: 5px;  
      background: transparent;
      color: $secondary!important;
    }

    textarea {
      width: 100%;
      height: 100%;
      min-height: 200px;
      resize: none;
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  label {
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.5;
    line-height: 22px;
    transform-origin: center left;
    transition: transform .15s ease-in-out;

    &.indent {
      left: 25px;
    }
  }

  &__error-message {
    position: absolute;
    right:10px;
    bottom: 6px;
    font-size: 1rem;
    color: $danger!important;
    animation: error .25s ease-in both;
    text-align: right;
    padding: 0!important;
    margin: 0!important;
  }

  &--focus, &--active {
    label {  
      font-size: 1.3rem!important;
      opacity: 1;    
      transform: translate(-5px, -85%) scale(0.85);
    }
  }

  &--focus {
    label { 
      color: $primary;
    }

    .input__content {
      border: 2px  solid $primary;

      i {
        color: $primary;
      }
    }
  }

  &--error {
    label, input, textarea, i {      
      color: $danger!important;
    }

    .input__content {
      border: 2px  solid rgba($danger, 0.5);
    }
  }

  &--read {     
    .input__content, input { 
      cursor: pointer;      
    } 
  }

  @keyframes error {
    0% {
      opacity: 0;
      transform: translate(3px, 20px);
    }
  
    25% {
      transform: translate(-3px, 20px);
    }
  
    50% {
      transform: translate(3px, 20px);
    }
  
    75% {
      transform: translate(-3px, 20px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0px, 20px);
    }
  }  
}


