.react-app {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 0.95rem;
  line-height: 1.3rem;
  overflow: hidden;
  background-color: $secondary;  

  h1 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 2.5rem;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  blockquote {
    color: $grey-shade200!important;
    font-size: 0.9rem;

    .quote {
      opacity: 0.3;
    }
    
    small {
      font-weight: 700;
      font-size: 0.8rem;
    }
  }

  .text{
    &--primary {
      color: $primary;
    }

    &--bold {
      font-weight: 600;
    }
  }
}

