@import '../../sass/abstract/variables';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  background-color: $secondary;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

main {
  min-height: 100vh;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  background-color: white;
  transition: transform 0.45s ease-in-out;

  &.scale {
    transform: scale(0.9);
  }

  &.theme-dark {
    background-color: $grey;
    color: white;
  }

  &.theme-ligth {
    background-color: white;
    color: $secondary;
  }
}

section {
  position: relative;
  padding: 3rem 6rem;
}

h1 {
  font-family: 'Poppins';
}

h1, h2, h3, h4 {
  font-weight: 600;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.8em;
  font-weight: 600;
}

h3 {
  font-size: 1.4em;
  font-weight: 700;
  color: $primary;
}

h4 {
  font-size: 1.2em;
}

p {
  margin-bottom: 1em;
}

a {
  color:$primary;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  transition: opacity .3s ease-in-out;
  opacity: 1;
  display: block;

  &.loading {
    opacity: 0;
  }
}

.list-style {
  list-style-type: disc;
  padding-left: 30px;
}

.text {
  &--primary {
    color: $primary;
  }
}

.limit-width-content {
  max-width: $screen-lg;
}

.background {
  &--primary {
    background-color: $primary;
  }
}

.display1 {
  display: inline-block;
  min-height: 45px;
  line-height: 45px;
  font-size: 1.7em;
  margin-bottom: 2em;
  padding: 0 25px;
  background-image: url('../../assets/icons/triangle001-primary.svg');
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: center left;

  span {
    line-height: 1.3rem!important;
  }
}

@media only screen and (max-width: $screen-lg) {
  section {
    padding: 1em 2rem;
  }
}

@media only screen and (max-width: $screen-md) {
  body {
    font-size: 1.2em;
  }
}