@import '../../sass/themes/colors';
@import '../../sass/abstract/variables';

.button {
  flex-shrink: 0;
  position: relative;
  outline: none;
  background: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $primary;
  color: white;
  padding: 0.5em 30px;
  margin: 0.5em auto;
  border-radius: 2em;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    color: $primary;
    background-color: rgba($orange-shade300, 0.9);
    box-shadow:inset 0px 0px 0px 0px transparent
  }

  &--outlined {
    box-shadow:inset 0px 0px 0px 2px $primary;
    background: transparent;
    color: $primary;
    font-weight: 500;
  }

  &--white {
    box-shadow:inset 0px 0px 0px 2px white;
    color: white;

    &:hover {
      color: white;
      background-color: rgba($orange-shade300, 0.5);
      box-shadow:inset 0px 0px 0px 2px $orange-shade300;
    }
  }



  &--loading {
    color: transparent;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;  
      width: 1.5em;
      height: 1.5em;
      border: 1px solid white;
      border-bottom-color: transparent!important;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 0.8s linear infinite;
      transform: translate(-50%,-50%);
    }
  }

  &--valid {
    background-color: $valid;
    pointer-events: none;

    i {
      display: inline-block;
      animation: display-valid .3s ease-in-out both;
    }
  }

  &--downloaded {
    pointer-events: none;
    opacity: 0.5;

    i {
      display: inline-block;
      animation: display-valid .3s ease-in-out both;
    }
  }

  i {
    margin-right: 0.5em;
  }
}

@keyframes rotation {
  0% {
      transform: translate(-50%,-50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%,-50%) rotate(360deg);
  }
}

@keyframes display-valid {
  0% {
    opacity: 0;
    transform: translateY(10px);
    margin-right: 0;
    max-width: 0;    
  }

  30% {
    margin-right: 0.5em;
    max-width: 50px;
    opacity: 0;
    transform: translateY(10px);
  }

  70% {
    opacity: 0.7;
    transform: translateY(-3px);
  }

  100% {
    margin-right: 0.5em;
    max-width: 50px;
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: $screen-lg) {
  .button {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}