@import '../../sass/themes/colors';
@import '../../sass/abstract/variables';

.button {
  outline: none;
  background: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $primary;
  color: white;
  padding: 0.5em 30px;
  margin: 0.5em auto;
  border-radius: 2em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $primary;
    background-color: rgba($orange-shade300, 0.9);
    box-shadow:inset 0px 0px 0px 0px transparent
  }

  &--outlined {
    box-shadow:inset 0px 0px 0px 2px $primary;
    background: transparent;
    color: $primary;
    font-weight: 500;
  }

  &--white {
    box-shadow:inset 0px 0px 0px 2px white;
    color: white;

    &:hover {
      color: white;
      background-color: rgba($orange-shade300, 0.5);
      box-shadow:inset 0px 0px 0px 2px $orange-shade300;
    }
  }
}

@media only screen and (max-width: $screen-lg) {
  .button {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}