@import '../../sass/themes/colors';
@import '../../sass/abstract/variables';

.navbar {
  &__button {
    position: fixed;
    top: 35px;
    bottom: 0;
    right: 6rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    z-index: 4;    
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;      
      width: 100%;
      height: 100%;
      background-color: rgba($grey-shade100, 0.2)!important;;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 16px;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      z-index: -1;
    }
    
    &:hover {
      &::before {
        opacity: 1;
      }

      .navbar__button__burger {
        background: $primary!important;
        &::before, &::after {
          background: $primary!important;
        }
      }
    }
  
    &__burger {
      width: 27px;
      height: 3px;
      background: $primary;
      border-radius: 3px;
      transition: all .2s ease-in-out;
  
      &::before, &::after {
        content: '';
        position: absolute;
        width: 27px;
        height: 3px;
        background: $primary;
        border-radius: 3px;
        transition: all .2s ease-in-out;
      }
  
      &::before {
        transform: translateY(-10px);
      }
  
      &::after {
        transform: translateY(10px);
      }
    }
  
    &--ligth {
      .navbar__button__burger {
        background: #fff!important;
        &::before, &::after {
          background: #fff!important;
        }
      }

      &:hover {
        .navbar__button__burger {
          background: #fff!important;
          &::before, &::after {
            background: #fff!important;
          }
        }
      }
    }
  
    &.open {
      .navbar__button__burger {
        background: transparent!important;
  
        &::before, &::after {
          background: $grey-shade200!important;
        }
      }

      .social-sidebar{
        pointer-events: none;
      }
    }

    &.open:hover {
      .navbar__button__burger {
        &::before, &::after {
          background: $primary!important
        } 
      }
    }
  
    &.open.navbar__button--animated {
      .navbar__button__burger {
        transform: translateX(-50px);
        background: transparent;
  
        &::before {
          transform: rotate(45deg) translate(35px, -35px);
          background: $grey-shade200!important;
        }
    
        &::after {
          transform: rotate(-45deg) translate(35px, 35px);
          background: $grey-shade200!important;
        }
      }
    }
  }

  &__slider {
    position: fixed;
    right: 0;
    top: 0;
    width: 25vw;
    min-width: 200px;
    max-width: 270px;
    height: 100vh;
    z-index: 3;
    transform: translateX(100%);

    svg path{
      fill: $grey!important;
    }

    &__menu {
      ul {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        height: 100vh;
        list-style: none;
        padding: 40px;
        margin: 0;

        li {
          margin: 0;
          font-size: clamp(16px, 2.3vw, 22px);
          transform: translateX(100%);
          opacity: 0;
          cursor: pointer;
          transition: all .5s ease-in-out;

          &.delay{
            @for $i from 0 through 10 {
              &--#{$i} {
                transition-delay: 0.10s * $i;
              }
            }
          }

          &.active {
            a {
              color: $primary;
            }
          }

          a {
            color: white;
            text-decoration: none;
            transition: color 0.15s ease-in-out;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    &.open {
      li {
        transform: translateX(0)!important;
        opacity: 1!important;
      }
    }
  }
}

@media only screen and (max-width: $screen-md) {
  .navbar__button {
      top: 15px;
      right: 1em;
  }
}

@media only screen and (max-width: $screen-sm) {
  .navbar__button {
    height: 40px;
    width: 40px;
    padding: 10px;

    &__burger {
      height: 2px;
      
      &::after, &::before {
        width: 20px!important;
        height: 2px;
        transform: translateY(8px);
      } 
      &::after {
        width: 20px!important;
        height: 2px;
        transform: translateY(-8px);
      }        
    }
  }
}


