@import '../../sass/abstract/variables';

.social-sidebar {
  position: fixed;
  bottom:9em;
  right:2em;
  z-index: 3;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  animation: display-social-sidebar .3s ease-in both;

  &--hidden {
    opacity: 0;
  }

  ul {
    display:flex;
    flex-direction: column;
    gap: 10px;
    grid-gap: 10px;

    li {
      opacity: 0.2;
      transition: all .17s ease-in-out;
      
      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}

@keyframes display-social-sidebar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: $screen-md) {
  .social-sidebar {
    right:2rem;

    li {
      a {
        height: 40px!important;
        width: 40px!important;
      }
    }
  }
}