@import '../../sass/abstract/variables';

.social-sidebar {
  position: fixed;
  bottom:7em;
  right:60px;
  z-index: 3;
  opacity: 1;
  transition: opacity .3s ease-in-out;

  &--hidden {
    opacity: 0;
  }

  ul {
    display:flex;
    flex-direction: column;
    gap: 10px;

    li {
      opacity: 0.2;
      transition: all .17s ease-in-out;
      
      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}

@media only screen and (max-width: $screen-lg) {
  .social-sidebar {
    right:20px;

    li {
      a {
        height: 35px!important;
        width: 35px!important;
      }
    }
  }
}

@media only screen and (max-width: $screen-md) {
  .social-sidebar {
    right:10px;
  }
}