@import '../../sass/themes/colors';

.project-card-container {
  display: block;
  height: 400px;
  opacity: 0;
  transform: translateY(30px);
  transition-property: all;
  transition-duration: 0.45s;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;

  &__reveal {
    @for $i from 0 through 50 {
      &--#{$i} {
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 0.15s * $i;
      }
    }
  }
}

.project-card {
  height: 100%;
  width: 100%;   
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;  


  &__picture {
    flex-grow: 1;
    width: 100%;
    background: $grey-shade400;
    overflow: hidden;
    
    img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 180px;
    align-items: flex-start;
    padding:30px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


    &__hashtags {
      display: flex;
      flex-wrap: wrap;      
      color:$primary;
      font-size: 0.8rem;
      font-weight: 700;
      margin-bottom: 8px;
      gap: 10px!important;

      li::before {
        content: '#';
      }
    }

    &__title {
      color: $secondary!important;
      margin-bottom: 5px!important;
      width: 100%;

      span {
        margin-left: 5px;
        font-size: 0.8rem;
        color: $grey-shade200;
        opacity: 0.5;
      }
    }

    &__desc {
      font-size: 13px!important;
      margin-bottom: 10px!important;
    }

    .button {
      margin-top: auto;
      width: 100%;
    }
  }
}