@import "../../sass/themes/colors";
@import "../../sass/abstract/variables";

.contact {
  .page__content {
    position: inherit;
    max-width: $screen-xl;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .background-svg {
    z-index: 0;
  }

  &__content {
    position: relative;
    margin-top: 20px;
    flex-grow: 1;
    width: 70%;
    height: 100%;
    min-width: 300px;
    max-width: 700px;
    z-index: 2;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 3rem;
    z-index: 1;
    height: 100%;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 0;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  &__card,
  &__cv {
    position: relative;
    justify-self: flex-end;
    align-self: center;
    z-index: 2;
    margin: 1em;
  }

  &__informations {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contact-modal {
  width: 50%;
  height: 100%;

  .grecaptcha-badge {
    display: none !important;
  }

  .contact {
    &__content {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    &__card {
      position: absolute;
      bottom: 2em;
      right: 2em;
    }
  }
}

@media only screen and (max-width: $screen-lg) {
  .contact {
    &__content {
      width: 100%;
      margin: 0 auto;
    }

    &__bg {
      display: none;
    }
  }

  .contact-modal {
    width: 100%;
  }
}
