@import '../../sass/themes/colors';

.homepage {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__leftside, &__rigthside {
    flex: 1 0 50%;
    position: relative;
    overflow: hidden;
  }

  &__leftside {
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    transition: flex-basis .45s cubic-bezier(0,.43,.16,1);

    blockquote {
      color: $grey-shade200!important;
      font-size: 1.4rem;
      z-index: 1;
    
      .quote {
        opacity: 0.3;
      }
      
      small {
        font-weight: 700;
        font-size: 1.2rem;
      }
    }

    &__content {
      flex-grow: 1;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        margin-bottom: 0.8em;
      }

      &__nav {
        display: flex;
        flex-direction: row;
        margin: 1.2em 0;
        gap: 1em;
        z-index: 1;
      }
    }
  }

  &__rigthside {
    position: relative;
    transition: opacity .45s ease-in;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80%;
      max-width: 600px;
      transform: translateX(0);
      opacity: 1;
      transition: all 1s cubic-bezier(0,.43,.16,1)!important;
    }
  }

  &--loading {
    .homepage {
      &__leftside {
        flex-basis:100%!important;
      }

      &__rigthside {
        opacity: 0;

        img {
          transform: translateX(500px);
          opacity: 0;
        }
      }
    }
  }
}