@import '../../sass/themes/colors';
@import '../../sass/abstract/variables';

.project-web {
  .project {
    h3 {
      margin-top: 10px;
      font-size: 1.4rem!important;
    }

    &__title {
      h2 {
        margin-left: 20px;
      }
    }
  
    &__pitch {
      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  
    &__release {
      margin-bottom: 30px;
      &__content {
        width: 70%;
      }
    }

    .icon-custom {
      &__container{
        color:$primary
      }
    }
  }
}

@media only screen and (max-width: $screen-lg) {
  .project__release {
    &__content {
      width: 100%!important;
    }
    .row {
      flex-direction: column!important;
    }
  }
}



