@import '../../sass/themes/colors';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(#000, 0.80);
  z-index: 10;
  color:$secondary;
  padding-left: 3rem;
  padding-right: 3rem;

  &--open {
    display: flex;
    animation-name: modal-appear;
    animation-timing-function: ease-out;
    animation-fill-mode: both;

    .modal {
      &__box {
        animation-name: modal-box-appear;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
    }
  }

  &--close {
    display: flex;
    animation-name: modal-disappear;
    animation-timing-function: ease-in;
    animation-fill-mode: both;

    .modal {
      &__box {
        animation-name: modal-box-disappear;
        animation-timing-function: ease-in;
        animation-fill-mode: both;
      }
    }
  }

  &__box {
    position: relative;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    min-height: 300px;
    max-width: 1000px;
    min-width: 320px;
    overflow: hidden;

    &__content {
      position: absolute;
      height: 100%;
      width: 100%;
      top:0;
      left: 0;
      padding: 30px;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      z-index: -1;

      .button {
        align-self: center;
        margin: 15px 0;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;      

      h2 {
        margin:0!important;
        padding: 0!important;
        background: none!important;

        &::first-letter {
          color: $primary!important;
        }
      }
    }
  }

  @keyframes modal-appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes modal-box-appear {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes modal-disappear {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes modal-box-disappear {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    100% {
      transform: translateY(30px);
      opacity: 0;
    }
  }
}

