@import '../../sass/abstract/variables';

.gallery {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  
  &__grid, &__fakegrid {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    gap:3px;
    grid-auto-flow:dense;
    z-index: 2;

    &__item, &__fakeitem {
      position: relative;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        img {
          transform: scale(1.2);
        }

        .gallery__grid__item__desc {
          opacity: 1;
        }

        h4, p, ul {
          transform: translateY(0);
        }
      }

      &__desc {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.6);
        z-index: 10;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        &.loading {
          display: none;
        }

        h4 {
          font-size: 1em;
          font-weight: 600;
          transform: translateY(30px);
          transition: transform .3s ease-in-out;
          margin: 0;
        }

        p {
          font-size: 0.8em;
          transform: translateY(30px);
          transition: transform .3s ease-in-out;
          margin: 0;
        }

        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(80px);
          transition: transform .3s ease-in-out;
        }
      }

      &__reveal {
        opacity: 0!important;
        transition: all .45s ease-out;
        transform: translateY(15px) scale(1.2);
        
        @for $i from 0 through 50 {
          &--#{$i} {
            opacity: 1!important;
            transition-delay: 0.15s * $i;
            transform: translateX(0) scale(1);
          }
        }
      }

      &--single {
        grid-row: span 1;
        grid-column: span 1;
      }

      &--double-row {
        grid-row: span 1;
        grid-column: span 2;
      }

      &--double-column {
        grid-row: span 2;
        grid-column: span 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: all 0.3s ease!important;

        &.loading {
          transform: scale(1.2);
        }
      }
    }

    &__fakeitem {
      background-color: rgba(white, 0.05)!important;        
      height: 100%;
      width: 100%;
    }
  }

  &__fakegrid {
    position: absolute;
    top:0;
    left: 0;
    margin: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    animation: load-gallery 2s linear infinite;
  }

  @keyframes load-gallery {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: $screen-sm) {
  .gallery {
    &__grid {
      &__item {
        &--single {
          grid-row: span 1;
          grid-column: span 1;
        }
  
        &--double-row {
          grid-row: span 1;
          grid-column: span 1;
        }
  
        &--double-column {
          grid-row: span 1;
          grid-column: span 1;
        }
      }
    }
  }
}
