@import '../../sass/abstract/variables';
@import '../../sass/themes/colors';

.carousel {
  opacity:0;
  transition: opacity 0.3s ease-in;
  width: 100vw;
  height: 100%;
  z-index: 1;

  &--visible {
    opacity: 1;
  }

  &__loader {
    position: relative;
    width: 100vw;
    height: 100%;
  }

  &__container {
    position: relative;
    width: 100vw;
    min-width: $screen-md;
    height: 100vh;
    overflow: hidden;
    pointer-events: all;
    background-color: rgba(0,0,0,0.2);

    &__progress {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background: $primary;
      z-index: 3;
      animation-name: carrousel-progress;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      opacity: 0.5;
    }
  }

  &__group {
    position: relative;
    height: 100%;
    width: 100vw;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    &--show {
      opacity: 1;
    }
  }

  &__item {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-50%);

    &__alt {
      position: absolute;
      left: 60px;
      bottom: 0;
      z-index: 4;
      color: white;
      font-size: 0.8rem;
      opacity: 0.8;
      transition: opacity .3s ease-in-out;

      &--hide {
        opacity: 0;
      }
    }

    &--animate-show {
      animation-name: carrousel-appear;
      animation-duration: 500ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }

    img {
      height: 120vh;
      min-width: 100vw;
      object-fit: cover;
    }
  }

  @keyframes carrousel-appear {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes carrousel-progress {
    0% {
      width: 0%;
    }
    100% {
      width: 100vw;
    }
  }
}

@media only screen and (max-width: $screen-md) {
  .carousel {
    &__container {
      height: 70vh!important;

      img {
        max-height: 80vh;
      }
    }

    &__item {
      &__alt {
        left: 20px;
      }
    }
  
  }
}

