@import "../../sass/abstract/variables";
@import "../../sass/themes/colors";

.footer {
  position: relative;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: $grey;
  color: white;
  font-size: 0.75em;
  animation: display-footer 0.3s ease-in-out both;

  p {
    margin: 0 !important;
    z-index: 1;
    padding: 0 30px;
    text-align: center;
    span {
      color: $primary;
      font-weight: 500;
    }
  }
}

@keyframes display-footer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
