@import '../../sass/themes/colors';
@import '../../sass/abstract/variables';

.homepage {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  &__leftside, &__rigthside {
    flex: 1 0 50%;
    position: relative;
    overflow: hidden;
  }

  &__leftside {
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    align-items: flex-start;
    transition: flex-basis .45s cubic-bezier(0,.43,.16,1);

    blockquote {
      color: $grey-shade200!important;
      font-size: 1.2rem;
      z-index: 1;
    
      .quote {
        opacity: 0.3;
      }
      
      small {
        font-weight: 700;
        font-size: 0.8em;
      }

      p {
        margin: 0;
      }
    }

    &__content {
      flex-grow: 1;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 600px;

      h2 {
        margin-bottom: 0.8em;

        span {
          white-space:nowrap;
        }
      }

      &__nav {
        display: flex;
        flex-direction: row;
        margin: 1.2em 0;
        gap: 1em;
        grid-gap: 1em;
        z-index: 1;
      }
    }
  }

  &__rigthside {
    position: relative;
    transition: opacity .45s ease-in;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    &__demoreal {
      position:relative;
      margin-top: 2rem;
      width: 100%;
      height: auto;
      z-index: 0;

      .vignet-up {
        position: absolute;
        top: 0;
        left: 0;
        height: 7%;
        width: 100%;
        background: white;
        background: linear-gradient(180deg, rgba($primary,1) 10%, rgba($primary,0) 100%);
        z-index: 2;
      }

      .vignet-down {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 15%;
        width: 100%;
        background: white;
        background: linear-gradient(0deg, rgba($primary,1) 10%, rgba($primary,0) 100%);
        z-index: 2;
      }

      video {
        width: 100%;        
        object-fit: cover;
        height: auto;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80%;
      object-fit: cover;
      max-width: 600px;
      max-height: 100%;
      transform: translateX(0);
      opacity: 1;
      transition: all 1s cubic-bezier(0,.43,.16,1)!important;
    }
  }

  &--loading {
    .homepage {
      &__leftside {
        flex-basis:100%!important;
      }

      &__rigthside {
        opacity: 0;

        img {
          transform: translateX(500px);
          opacity: 0;
        }

        video {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: $screen-lg) {
  .homepage {
    flex-direction: column;

    &__leftside {
      flex: 0 0 100%;

      &__content {
        margin: 3rem auto;
        margin-top: 6rem;
        text-align: center;

        &__nav {
          justify-content: center;
        }
      }
    }

    &__rigthside {
      flex: 1 0 100%;
      padding: 0!important;

      &__demoreal {
        margin:0;
        .vignet-up {
          display: none;
        }

        video {
          max-height: 300px;
        }
      }
    }
  }
}